.react-flow__node {
	border: 0.005rem solid var(--chakra-colors-chakra-border-color);
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	background: var(--chakra-colors-chakra-body-bg);
}

.react-flow__node:active,
.react-flow__node:focus {
	border-color: #333333;
}

.react-flow__edges.react-flow__container {
	z-index: 1;
}

.react-flow__edges.react-flow__container svg {
	z-index: 5;
}